extends layout

block content
  a(href='/scrypt')
    h1.header= title
  if posts
    table.highlight
      thead
        tr
          th Published on
          th Title
      tbody
        each post in posts
          tr
            td(style='width: 8em')= post.displayDate
            td
              a(href='/view/#{post.id}/#{post.slug}')= post.title
  else
    p.flow-text(style='text-align: center;') No post here so far :)
  footer
    a.waves-effect.waves-light.btn-large(href='/edit')
      i.material-icons.right create
      | write
