doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .container
      .card-panel
        .container
          block content
      h6.powered-by Powered by&nbsp;
        a(href='https://github.com/Saren-Arterius/simple-blog') Simple Blog
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
    script(src='/javascripts/marked.min.js')
    script(src='/javascripts/main.js')
