doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    .container
      .card-panel
        .container
          block content
      if post && post.displayLMTimeFull
        h6.info-text(style='float: left') Last modified:&nbsp;
          span #{post.displayLMTimeFull}
      h6.info-text(style='float: right') Powered by&nbsp;
        a(href='https://github.com/Saren-Arterius/simple-blog') Simple Blog
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
    script(src='/javascripts/marked.min.js')
    script(src='/javascripts/main.js')
