extends layout

block content
  a(href='/')
    h1.header= title
  h5.date= post.displayDate
  article.flow-text !{html}
  .divider
  footer
    a.waves-effect.waves-light.btn-large(href='/edit/#{post.id}')
      i.material-icons.right edit
      | edit
