h1, h2, h3, h4, h5, h6, .header, body, footer, .powered-by, thead{
  font-family: Source Han Sans TC, Microsoft JhengHei, Heiti TC, Helvetica;
}
code, #edit{
  font-family: Consolas, Inconsolata, Courier, monospace, Source Han Sans TC, Microsoft JhengHei, Heiti TC, Helvetica;
}
h1 {
  font-weight: 300;
  word-wrap: break-word;
}
h2 {
  font-weight: 300;
  word-wrap: break-word;
}
h3 {
  font-weight: 300;
  word-wrap: break-word;
}
h4 {
  font-weight: 300;
  word-wrap: break-word;
}
h5 {
  font-weight: 300;
  word-wrap: break-word;
}
h6 {
  font-weight: 300;
  word-wrap: break-word;
}
.header {
  text-align: center;
  color: #26a69a;
  font-weight: 500;
}
body {
  margin-top: 5em;
  background-color: #fcfcfc;
}
footer {
  margin-top: 2em;
  text-align: center;
}
.powered-by {
  text-align: right;
  margin-bottom: 4em;
}
img {
  max-width: 100%;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
thead {
  border-bottom: 1px solid #e0e0e0;
}
#edit {
  text-align: center;
  margin-bottom: 2em;
}
