h1 {
  font-weight: 300;
  word-wrap: break-word;
}
h2 {
  font-weight: 300;
  word-wrap: break-word;
}
h3 {
  font-weight: 300;
  word-wrap: break-word;
}
h4 {
  font-weight: 300;
  word-wrap: break-word;
}
h5 {
  font-weight: 300;
  word-wrap: break-word;
}
h6 {
  font-weight: 300;
  word-wrap: break-word;
}
.header {
  text-align: center;
  color: #26a69a;
  font-weight: 500;
}
.date {
  text-align: center;
  margin-bottom: 1em;
}
body {
  margin-top: 5em;
  background-color: #fcfcfc;
}
footer {
  margin-top: 2em;
  text-align: center;
}
.powered-by {
  text-align: right;
  margin-bottom: 4em;
}
img {
  max-width: 100%;
}
code {
  font-size: 0.75em;
}
thead {
  border-bottom: 1px solid #e0e0e0;
}
